body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #b4d4c9;
}

header {
    background-color: #d6dfcb;
    padding: 10px;
    text-align: center;
   
   
}

#products {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
    width: 30%;
}

#cart {
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
img{
    width: 200px;
}

